---
import Layout from "../layouts/Layout.astro";
---

<Layout page_title="About Me">
  <main>
    <h1>About Me</h1>
    <p>
      Photography is my way of capturing the beauty, emotion, and fleeting
      moments of the world around us. I started with a simple camera and a
      curiosity for the stories a single frame can tell. Over time, this
      curiosity turned into a passion, driving me to explore different styles
      and techniques to refine my craft.
    </p>

    <p>
      From dynamic landscapes to detailed portraits, I aim to create images that
      evoke emotion and tell a story. Whether it’s finding the perfect light,
      experimenting with creative angles, or editing to enhance the final
      composition, I love every part of the process.
    </p>

    <p>
      Beyond the technical side, photography allows me to connect with people
      and places in a meaningful way. Every photo I take is a reflection of my
      perspective and a moment I want to preserve and share.
    </p>
  </main>
</Layout>

<style>
  main {
	padding: 1em;
	margin: 0 auto;
	max-width: 720px;
  }

  h1 {
	font-size: 2em;
	margin-bottom: 1em;
  }

  p {
	margin-bottom: 1em;
  }
</style>
