---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2><a class="title newsreader-font" href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/gallery">Gallery</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
      <!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
    </div>
    <div class="mobile-links" id="mobile-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/gallery">Gallery</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
      <!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
    </div>
    <a href="javascript:void(0);" class="icon" id="hamburger">
      <i class="fa fa-bars"></i>
    </a>
    <div class="social-links">
      <a href="https://www.instagram.com/alec.j.is.a.nerd" target="_blank">
        <span class="sr-only">Follow Alec Jensen on Instagram</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 30 30"
        >
          <path
            fill="currentColor"
            d="M 9.9980469 3 C 6.1390469 3 3 6.1419531 3 10.001953 L 3 20.001953 C 3 23.860953 6.1419531 27 10.001953 27 L 20.001953 27 C 23.860953 27 27 23.858047 27 19.998047 L 27 9.9980469 C 27 6.1390469 23.858047 3 19.998047 3 L 9.9980469 3 z M 22 7 C 22.552 7 23 7.448 23 8 C 23 8.552 22.552 9 22 9 C 21.448 9 21 8.552 21 8 C 21 7.448 21.448 7 22 7 z M 15 9 C 18.309 9 21 11.691 21 15 C 21 18.309 18.309 21 15 21 C 11.691 21 9 18.309 9 15 C 9 11.691 11.691 9 15 9 z M 15 11 A 4 4 0 0 0 11 15 A 4 4 0 0 0 15 19 A 4 4 0 0 0 19 15 A 4 4 0 0 0 15 11 z"
          ></path>
        </svg>
      </a>
      <a href="https://www.youtube.com/@alec.j" target="_blank">
        <span class="sr-only">Subscribe to Alec Jensen on YouTube</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M21.582,6.186c-0.23-0.86-0.908-1.538-1.768-1.768C18.254,4,12,4,12,4S5.746,4,4.186,4.418 c-0.86,0.23-1.538,0.908-1.768,1.768C2,7.746,2,12,2,12s0,4.254,0.418,5.814c0.23,0.86,0.908,1.538,1.768,1.768 C5.746,20,12,20,12,20s6.254,0,7.814-0.418c0.861-0.23,1.538-0.908,1.768-1.768C22,16.254,22,12,22,12S22,7.746,21.582,6.186z M10,14.598V9.402c0-0.385,0.417-0.625,0.75-0.433l4.5,2.598c0.333,0.192,0.333,0.674,0,0.866l-4.5,2.598 C10.417,15.224,10,14.983,10,14.598z"
          ></path>
        </svg>
      </a>
    </div>
  </nav>
</header>

<script>
  import * as Swetrix from "swetrix";

  document.addEventListener("astro:page-load", () => {
    Swetrix.init('EcBMHSQMLy8o', {
      apiURL: 'https://api.analytics.alecj.tk/log',
    });
    Swetrix.trackViews();
    Swetrix.trackErrors();

    function hamburger() {
      var x = document.getElementById("mobile-links");

      if (x.style.display == "flex") {
        x.style.display = "none";
      } else {
        x.style.display = "flex";
      }
    }

    document.getElementById("hamburger")?.addEventListener("click", hamburger);
  });
</script>

<style>
  header {
    margin: 0;
    padding: 0 var(--space-md);
    margin-bottom: var(--space-xl);
  }
  
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background: var(--background);
  }
  
  nav a {
    padding: var(--space-md) var(--space-sm);
    color: var(--text);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    transition: all var(--transition-fast);
  }
  
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--primary);
  }

  nav a:hover {
    color: var(--primary);
  }

  .title {
    margin-left: var(--space-md);
  }
  
  .internal-links {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .social-links {
    margin-right: var(--space-md);
  }
  
  .social-links,
  .social-links a {
    display: flex;
  }

  .mobile-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--background);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icon {
    display: none;
    cursor: pointer;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }

    .internal-links {
      display: none;
    }

    .icon {
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: center;
      margin: 0 var(--space-md);
      color: var(--text);
      border-width: 0;
      border-style: none;
    }

    .icon i {
      font-size: 1.5em;
    }
  }
</style>
